@*<div class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" id="form-modal">*@
<div class="modal fade" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer d-none text-center">
                <button class="btn btn-primary" data-dismiss="modal"><i class="fa fa-window-close"></i> Đóng</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalCustom" class="modalCustom">
    <!-- Modal content -->
    <div class="modal-contentCustom">
        <span class="closemodalCustom">&times;</span>
        <p class="bodymodalCustom"></p>
    </div>
</div>