@using Application.Enums;
@using Domain.ViewModel;
@model Domain.ViewModel.PublishInvoiceModelView
@{
    var gr = Model.DetailInvoices.GroupBy(x => x.TypePublishEinvoice).ToList();
    var GUICQTOK = new List<DetailInvoice>();
    var GUICQTTHATBAI = new List<DetailInvoice>();

    foreach (var item in gr)
    {
        switch (item.Key)
        {
            case ENumTypePublishEinvoice.GUICQTTHANHCONG:
                GUICQTOK = item.ToList();
                break;
            case ENumTypePublishEinvoice.GUICQTLOI:
                GUICQTTHATBAI = item.ToList();
                break;
            default:
                break;
        }
    }
}
<h4 class="mb-3">Kết quả xử lý dữ liệu đã hoàn tất!</h4>
<div id="accordionkqpubinv">

    @if (GUICQTOK.Count() > 0)
    {
        <div class="col-grouppublish">
            <a class="text-dark" href="#"><h5 class="m-0"><i class="fas fa-chevron-down mr-2"></i>Gửi hóa đơn lên cơ quan thuế thành công </h5></a>
            <div class="body-data">
                <ul>
                    @foreach (var item in GUICQTOK)
                    {
                        <li>
                            <a href="#" class="text-blue">@item.code</a>
                            <span class="mr-2">-</span>
                            <span>@Html.Raw(item.note)</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    @if (GUICQTTHATBAI.Count() > 0)
    {
        <div class="col-grouppublish">
            <a class="text-dark" href="#"><h5 class="m-0"><i class="fas fa-chevron-down mr-2"></i>Gửi hóa đơn lên cơ quan thuế thất bại  </h5></a>
            <div class="body-data">
                <ul>
                    @foreach (var item in GUICQTTHATBAI)
                    {
                        <li>
                            <a href="#" class="text-blue">@item.code</a>
                            <span class="mr-2">-</span>
                            <span>@Html.Raw(item.note)</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>