@using Microsoft.AspNetCore.Mvc.Localization
@using Application.Hepers;
@inject UserManager<ApplicationUser> UserManager
@inject IHtmlLocalizer<SharedResource> localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var user = User.Identity.GetUserClaimLogin();
}


<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-drawer icon-gradient bg-happy-itmeo"></i>
            </div>
            <div>
                Cấu hình nhà hàng
                <div class="page-title-subheading">Cấu hình thông tin nhà hàng</div>
            </div>
        </div>

    </div>
</div>
<div class="row mt-3 list-area-setting">
    <div class="col-md-4 col-lg-3 item-col">

        <div class="main-card card">
            <div class="card-body">
                <a href="/Selling/Store">
                    <div class="area-settings-nav">
                        <div class="item-left">
                            <i class="fas fa-sitemap"></i>
                        </div>
                        <div class="item-right">
                            <b>1. Thông tin cửa hàng</b>
                            <span>Xem và thiết lập bàn phòng trong nhà hàng</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-3 item-col">

        <div class="main-card card">
            <div class="card-body">
                <a href="/Selling/ConfigSaleParameters">
                    <div class="area-settings-nav">
                        <div class="item-left">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                        <div class="item-right">
                            <b>1. Thiết lập bán hàng</b>
                            <span>Xem và thiết lập các tiện ích bàn hàng trong nhà hàng</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-3 item-col">

        <div class="main-card card">
            <div class="card-body">
                <a href="/Selling/SupplierEInvoice">
                    <div class="area-settings-nav">
                        <div class="item-left">
                            <i class="fas fa-file-invoice"></i>
                        </div>
                        <div class="item-right">
                            <b>1. Hoá đơn điện tử</b>
                            <span>Xem và thiết lập phát hành hóa đơn trong nhà hàng</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    @if (user.IdDichVu==Application.Enums.EnumTypeProduct.AMTHUC)
    {
        <div class="col-md-4 col-lg-3 item-col">
            <div class="main-card card">
                <div class="card-body">
                    <a href="/Selling/Areas">
                        <div class="area-settings-nav">
                            <div class="item-left">
                                <i class="fas fa-warehouse"></i>
                            </div>
                            <div class="item-right">
                                <b>1. Thiết lập khu vực</b>
                                <span>Xem và thiết lập khu vực trong nhà hàng</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 item-col">

            <div class="main-card card">
                <div class="card-body">
                    <a href="/Selling/roomtable">
                        <div class="area-settings-nav">
                            <div class="item-left">
                                <i class="fas fa-table"></i>
                            </div>
                            <div class="item-right">
                                <b>1. Thiết lập bàn/phòng</b>
                                <span>Xem và thiết lập bàn phòng trong nhà hàng</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    }
   

    <div class="col-md-4 col-lg-3 item-col">

        <div class="main-card card">
            <div class="card-body">
                <a href="/selling/TemplateInvoice">
                    <div class="area-settings-nav">
                        <div class="item-left">
                            <i class="fas fa-print"></i>
                        </div>
                        <div class="item-right">
                            <b>1. Thiết lập mẫu in</b>
                            <span>Xem và thiết lập mẫu hóa đơn, tem in cho nhà hàng</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-3 item-col">

        <div class="main-card card">
            <div class="card-body">
                <a href="/Selling/Unit">
                    <div class="area-settings-nav">
                        <div class="item-left">
                            <i class="fas fa-tablet-alt"></i>
                        </div>
                        <div class="item-right">
                            <b>1. Thiết lập đơn vị tính</b>
                            <span>Xem và thiết lập đơn vị tính cho hàng hóa</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-3 item-col">

        <div class="main-card card">
            <div class="card-body">
                <a href="/Selling/Paymentmethod">
                    <div class="area-settings-nav">
                        <div class="item-left">
                            <i class="fab fa-cc-amazon-pay"></i>
                        </div>
                        <div class="item-right">
                            <b>1. Hình thức thanh toán</b>
                            <span>Xem và thiết lập các hình thức thanh toán cho nhà hàng</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>