<section class="container mt-3" id="categoryproSell">
    <div class="row">
        <div class="col-lg-12  card-shadow">
            <div class="row">
                @if (ViewBag.ImgSell != null)
                {
                    <img src="/@(ViewBag.ImgSell)" class="img-page-sell" />
                }
                <div class="listProductcate" id="dataProductSell">
                </div>

            </div>
        </div>

    </div>
</section>

@section Scripts
{
<script>

        loadnEvent_init.fetdataProductSellByCategory("@(ViewBag.Slug)");
    loadevent.load_sort_productmobi();

</script>
}