@model Domain.ViewModel.VietQRModel
@{
    Layout = null;
}
<div class="createVietQRfomr">
    <input asp-for="BinVietQR" data-BinVietQR="@Model.BinVietQR" type="hidden" class="form-control" readonly />
    <input id="QrCodedata" type="hidden" class="form-control" />
    <input asp-for="Code" data-Code="@Model.Code" type="hidden" class="form-control" />
    <input asp-for="ShortName" data-ShortName="@Model.ShortName" type="hidden" class="form-control" />
   
    <div class="row">
        <div class="col-md-4">
            <div class="">
                <div class="form-group">
                    <label class="control-label">Tài khoản<span class="required">(*)</span></label>
                    <select id="selectAccountName" name="codebank" class="form-control" placeholder="Tài khoản" required style="width:100%">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="fromOnetable">
                <div class="form-group">
                    <label class="control-label">Ngân hàng <span class="required">(*)</span></label>
                    <textarea asp-for="BankName" class="form-control" readonly placeholder="Ngân hàng" required ></textarea>
                    
                    <span asp-validation-for="BankName" class="text-danger"></span>
                </div>
            </div>


            <div class="fromOnetable">
                <div class="form-group">
                    <label class="control-label">Số tài khoản <span class="required">(*)</span></label>
                    <input asp-for="BankNumber" class="form-control" readonly placeholder="Số tài khoản" required />
                    <span asp-validation-for="BankNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="fromOnetable">
                <div class="form-group">
                    <label class="control-label">Người thụ hưởng <span class="required">(*)</span></label>
                    <textarea asp-for="AccountName" class="form-control" readonly placeholder="Người thụ hưởng" required></textarea>
                    <span asp-validation-for="AccountName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Mẫu Qrcode hiển thị</label>
                <select asp-items="(IEnumerable<SelectListItem>)ViewBag.Selectlist" asp-for="template" style="width:100%" class="form-control" id="SelectTemplateVietQR">
                    <option></option>
                </select>
            </div>
            <div class="fromOnetable">
                <div class="form-group text-center">
                    <button class="btn btn-primary btn-createVietQR d-none"><i class="fas fa-qrcode"></i> Tạo mã QRcode</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="contentvalueqrviet">
                <div id="logoVietQR">
                    @if (Model.Id!=0)
                    {
                        <img src='https://img.vietqr.io/image/@(Model.ShortName)-@(Model.BankNumber)-@(Model.template).jpg?accountName=@(Model.AccountName)' />
                    }
                </div>
                @if (Model.Id== 0)
                {
                    <div class="noVietQr">
                        <img class="logovietqr" src="~/images/bank/vietqr.png" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>