@model Domain.Entities.CategoryCevenue

<form id="create-form" method="post" asp-controller="CategoryCevenue" asp-action="OnPostCreateOrEdit" onsubmit="return jQueryModalPost(this);">
    @Html.HiddenFor(x=>x.Type)
    <partial name="_ShareItem" />
</form>
<script type="text/javascript" language=javascript>$.validator.unobtrusive.parse(document);</script>
