@{
    ViewData["Title"] = "Home Page";
}

<section class="sectionone">
    <div class="bac"></div>
    <div class="container content">
        <div class="col-md-8">
            <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">Phần mềm quản lý bán hàng tốt nhất hiện nay</h1>
            <p class="sub wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s"> Giúp các chủ cửa hàng kinh doanh dễ dàng và hiệu quả</p>
            <a href="" class="wow btn btn-successz btn-regiter fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">Đăng ký ngay</a>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</section>
<section class="sectiontow">
    <div class="container content">
        <h3 class="title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.1s">
            <img src="~/img/logo1.png" style="width:200px" /> giúp bạn dễ dàng quản lý, bán hàng hiệu quả
        </h3>
        <div class="row">
            <div class="col-md-3">
                <div class="col-item col1 wow fadeInUp" data-wow-duration="1.5" data-wow-delay="0.1s">
                    <div class="avat">
                    </div>
                    <strong>Tự động hóa</strong>
                    <p>
                        Thanh toán dễ dàng chỉ vài bước, kiểm soát hàng hóa dễ dàng, theo dõi, quản lý hiệu quả việc kinh doanh
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-item col2 wow fadeInUp" data-wow-duration="1.5" data-wow-delay="0.2s">
                    <div class="avat">
                    </div>
                    <strong>Tiết kiệm thời gian</strong>
                    <p>
                        Tiết kiệm thời gian xử lý đơn hàng, nhanh chóng chỉ trong vài bước,
                        order, thanh toán nhanh và hiệu quả.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-item col3 wow fadeInUp" data-wow-duration="1.5" data-wow-delay="0.3s">
                    <div class="avat">
                    </div>
                    <strong>Nguồn lực</strong>
                    <p>
                        Tiết kiệm được nguồn lực nhân sự kiểm soát, báo cáo thống kê, tăng năng xuất của nhân viên bán hàng, thu ngân.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-item col4 wow fadeInUp" data-wow-duration="1.5" data-wow-delay="0.4s">
                    <div class="avat">
                    </div>
                    <strong>Minh bạch</strong>
                    <p>
                        Minh bạch hóa đơn đến khách hàng, quản lý rõ ràng, kiểm soát kinh doanh
                    </p>
                </div>
            </div>
        </div>
        <h3 class="title wow fadeInUp" data-wow-duration="1.5" data-wow-delay="0.1s">
            <img src="~/img/logo1.png" style="width:200px" /> cung cấp giải pháp cho từng nghành hàng
        </h3>
        <div class="row">
            <ul class="listnghanhhang">
                <li class="wow zoomIn" data-wow-duration="1.5" data-wow-delay="0.1s">
                    <div class="header">
                    <div class="logo ao">
                        </div>
                    </div>
                    <span>Shop thời trang</span>
                </li> 
                <li class="wow zoomIn" data-wow-duration="1.5" data-wow-delay="0.1s">
                    <div class="header">
                    <div class="logo food">
                        </div>
                     </div>
                 
                    <span>Cafe,  Bar, nhà hàng</span>
                </li> 
                <li class="wow zoomIn" data-wow-duration="1.5" data-wow-delay="0.1s">
                    <div class="header">
                    <div class="logo audio">
                        </div>
                    </div>
                    <span>Karaoke và Billiards</span>
                </li>
                <li class="wow zoomIn" data-wow-duration="1.5" data-wow-delay="0.1s">
                    <div class="header">
                    <div class="logo shopping_cart">
                        </div>
                    </div>
                    
                    <span>Tạp hóa siêu thị</span>
                </li> 
                <li class="wow zoomIn" data-wow-duration="1.5" data-wow-delay="0.1s">
                    <div class="header">
                    <div class="logo phone">
                        </div>
                    </div>
                 
                    <span>Điện thoại,điện máy</span>
                </li>
                <li class="wow zoomIn" data-wow-duration="1.5" data-wow-delay="0.1s">
                    <div class="header">
                    <div class="logo ghe">
                        </div>
                    </div>
                  
                    <span>Nội thất</span>
                </li>
                <li class="wow zoomIn" data-wow-duration="1.5" data-wow-delay="0.1s">
                    <div class="header">
                    <div class="logo banle">
                        </div>
                    </div>
                   
                    <span>Nghành hàng bán lẻ</span>
                </li>
                <li class="wow zoomIn" data-wow-duration="1.5" data-wow-delay="0.1s">
                    <div class="header">
                    <div class="logo sach">
                        </div>
                    </div>
                    <span>Sách, Văn phòng phẩm</span>
                </li>
                <li class="wow zoomIn" data-wow-duration="1.5" data-wow-delay="0.1s">
                    <div class="header">
                    <div class="logo spa">
                        </div>
                    </div>
                    
                    <span>Spa, Hair Salon, Nails, Massage</span>
                </li>
                <li class="wow zoomIn" data-wow-duration="1.5" data-wow-delay="0.1s">
                    <div class="header">
                    <div class="logo diennuoc">
                        </div>
                    </div>
                    <span>Vật liệu xây dựng</span>
                </li> 
                <li class="wow zoomIn" data-wow-duration="1.5" data-wow-delay="0.1s">
                    <div class="header">
                    <div class="logo xaydung">
                        </div>
                    </div>
                    <span>Của hàng điện nước</span>
                </li>
                <li class="wow zoomIn" data-wow-duration="1.5" data-wow-delay="0.1s">
                    <div class="header">
                    <div class="logo mebe">
                        </div>
                    </div>
                    <span>Mẹ và bé</span>
                </li>
                <li class="wow zoomIn" data-wow-duration="1.5" data-wow-delay="0.1s">
                    <div class="header">
                    <div class="logo nghanhkhac">
                    </div>
                    </div>
                    <span>Các nghành hàng khác..</span>
                </li>
            </ul>
            <a href="" class="wow btn btn-successz btn-regiter fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">Đăng ký ngay</a>
        </div>
    </div>
</section>
<section id="sectionhotro">
    <div class="hotline-box">
        <div class="container">
            <div class="hotline-top text-center mb-5">
                <h3 class="hotline-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">Hãy để chúng tôi kinh doanh cùng bạn</h3>
                <a href="" class="wow btn mt-5 btn-successz btn-regiter fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">Đăng ký ngay</a>
            </div>
            <div class="row hotline-list">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                    <div class="hotline-item">
                        <h6 class="hotline-name">
                            <span class="hotline-icon color-primary"><i class="fas fa-phone-volume"></i> Hotline </span>
                        </h6>
                        <p class="font-small-1 mb-0">
                            Tư vấn bán hàng: <a href="tel:0918796393" class="color-primary">0918.796.393</a> <br>
                            Chăm sóc khách hàng: <a href="tel:0918796393" class="color-primary">0918.796.393</a> <br>
                            Hoạt động hàng ngày từ 7:00 đến 23:00 kể cả ngày nghỉ, lễ tết.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="hotline-item">
                        <h6 class="hotline-name">
                            <span class="hotline-icon color-primary"><i class="fab fa-facebook"></i></span>
                            <a class="color-text-primary" target="_blank" rel="nofollow noopener noreferrer" href="https://www.facebook.com/phanemquanlybanhangsposviet">SposViet Fanpage</a>
                        </h6>
                        <p class="font-small-1 mb-0">Luôn trả lời các thông tin nhanh nhất trên Facebook.</p>
                        <a href="https://www.facebook.com/phanemquanlybanhangsposviet" class="btn btn-primary mt-5 ml-auto">Đi đến facebook</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="hotline-item">
                        <h6 class="hotline-name">
                            <span class="hotline-icon color-primary"><i class="fab fa-telegram"></i></span>
                            <a class="color-text-primary" target="_blank" rel="nofollow noopener noreferrer" href="https://t.me/+a8Jat1PIdiZmMjBl">Kênh hỗ trợ telegram</a>
                        </h6>
                        <p class="font-small-1 mb-0">Luôn phản hồi thông tin nhanh nhất trên kênh telegram</p>
                        <a href="https://t.me/+a8Jat1PIdiZmMjBl" class="btn btn-primary mt-5 ml-auto">Đi đến telegram</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="hotline-item">
                        <h6 class="hotline-name">
                            <span class="hotline-icon color-primary"><i class="fas fa-comments"></i></span>
                            <span>Chat trên web &  mobile</span>
                        </h6>
                        <p class="font-small-1 mb-0">Luôn có nhân viên trực chat để trả lời câu hỏi của các bạn nhanh và hiệu quả  nhất</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
