@using Domain.ViewModel
@model RevenueExpenditureModel
<form id="create-form" method="post" asp-controller="RevenueExpenditure" asp-action="OnPostCreateOrEdit" onsubmit="return jQueryModalPost(this);">
    @Html.HiddenFor(x=>x.Type)
    <partial name="_ShareItem" />
</form>
