@model Web.ManagerApplication.Areas.Admin.Models.FileModel;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_SerilogView</title>
</head>
<body>
    @Html.Raw(Model.Html)
</body>
</html>
