<form id="FormValidate" method="post" asp-controller="Users" asp-action="OnPostCreate" onsubmit="return jQueryModalPost(this);">
    <partial name="_ShareItem" /> 
</form>
<script type="text/javascript" language=javascript>$.validator.unobtrusive.parse(document);</script>
