@using Domain.Entities
@model TypeSpecifications
<form method="post" asp-controller="TypeSpecification" asp-area="Admin" asp-route-id="@Model.Id" asp-action="OnPostCreateOrEdit" onsubmit="return jQueryModalPost(this);">
    <div class="row justify-content-center">
        <div class="col col-md-6">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên</label>
                <input asp-for="Name" placeholder="Nhập tên tiêu chí thông số bài viết" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label">Mã</label>
                <input asp-for="Code" placeholder="Nhập mã nếu có" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>

            <div class="form-group justify-content-center" style="margin-bottom: 0px !important">
                <button class="ladda-button mr-2 btn btn-primary" data-style="expand-left">
                    <span class="ladda-label"><i class="fas fa-check"></i>  Lưu</span>
                    <span class="ladda-spinner"></span>
                </button>
                <button type="submit" class="btn btn-default close-button" data-dismiss="modal"><i class="fas fa-"></i> Cancel</button>
            </div>
        </div>
    </div>
</form>
