@model Web.ManagerApplication.Areas.Selling.Models.AreasModel
@{
    var userId = Context.Request.Query["userId"].ToString();

}
<style>
    .pagination {
        float: right;
    }
</style>
<div class="main-content-800">
<div class="card mb-2">
    <div class="card-body">
        <div class="row">

            <div class="col-md-6">
                <div class="">
                    <label>Tìm kiếm cung cấp</label>
                    <input type="text" name="Name" id="Name" placeholder="Tìm kiếm tên, mã, số điện thoại, email......" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center" style=" display: block;">
        <button class="ladda-button mb-2 mr-2 btn btn-primary" id="btnSearch" type="button" data-style="expand-left">
            <span class="ladda-label"><i class="fas fa-search mr-2"></i> Tìm kiếm</span>
            <span class="ladda-spinner"></span>
        </button>
    </div>
</div>

<div class="card">
    <div class="col-sm-12 pt-2">
        <a onclick="eventCreate.addOrEditSupplier('/Selling/Supplier/Create')" class="btn bg-success text-white">
            <i class="fas fa-plus-circle"> </i> Thêm mới
        </a>
        <button class="ladda-button mr-2 btn btn-primary" id="reload" data-style="expand-left">
            <span class="ladda-label"><i class="fa fas fa-bolt"></i>  Reload</span>
            <span class="ladda-spinner"></span>
        </button>
    </div>
    <div id="viewAll" class="card-body">
        <table class="table table-bordered table-striped" style=" " id="dataTable">
            <thead>
                <tr>
                    <th>Mã nhà cung cấp</th>
                    <th>Tên nhà cung cấp</th>
                    <th>Nợ nhà cung cấp</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
</div>
@section Scripts
    {
    <script>

        $(document).ready(function () {

            // loaddataSelect2("/admin/users/getSelect2","#listUserselect2","@userId");
        });
        $(document).ready(function () {
            dataTableOut = $('#dataTable').DataTable({
                "responsive": true,
                "processing": true,
                stateSave: true,
                "pagingType": "full_numbers",
                "serverSide": true,
                "filter": true,
                "rowId": "id",
                "orderMulti": false,
                "ordering": false,
                // "order": [[0, "desc"]],
                "language": {
                    "info": "Hiển thị _START_ đến _END_ dòng của tổng _TOTAL_ dòng",
                    "infoEmpty": "Hiển thị 0 đến 0 dòng của tổng 0 dòng",
                    "zeroRecords": "Không tìm thấy dữ liệu nào",
                    "emptyTable": "Không có dữ liệu",
                    "search": "Tìm kiếm:",
                    "processing": "Đang xử lý...",
                    "lengthMenu": "Hiển thị _MENU_ dòng",
                    "loadingRecords": "Vui lòng chờ...",
                    "paginate": {
                        "first": "Đầu tiên",
                        "last": "Cuối cùng",
                        "next": "Tiếp theo",
                        "previous": "Về trước"
                    },
                },
                "pageLength": 10,
                "lengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]],
                "buttons": [
                    {
                        text: 'Reload',
                        action: function (e, dt, node, config) {
                            dataTableOut.ajax.reload();
                        }
                    }
                ],
                "columnDefs": [


                    { responsivePriority: 4, targets: [-1, 0] },////define hiển thị mặc định column 1

                    {
                        targets: [1,2,3,4,-1],
                        className: 'text-center'
                    },
                    {
                        "searchable": false,
                        "orderable": false,
                        "targets": [-1, 0],

                    },
                    { "width": "100px", "targets": -1 }

                ],
                ajax: {
                    url: "/Selling/Supplier/LoadAll",
                    type: "POST",
                    datatype: "json",
                    data: {
                        Name: function () { return $('#Name').val().trim() },
                        // Name: function () { return $('#CompanyName').val().trim() },
                    }
                },
                "columns": [
                    {
                        "data": "code", "name": "Code", "autoWidth": true

                    },  {
                        "data": "name", "name": "Name", "autoWidth": true

                    },  {
                        "data": "amount", "name": "Amount", "autoWidth": true,
                        render: $.fn.dataTable.render.number(',', '.', 0)

                    },  {
                        "data": "email", "name": "Email", "autoWidth": true

                    }, {
                        "data": "phonenumber", "name": "Phonenumber", "autoWidth": true

                    },
                    //{
                    //    "data": "status", "name": "status",
                    //    "render": function (data, type, full, meta) {
                    //        if (full.status == 1) {
                    //            return '<span class="badge badge-success"><i class="fas fa-check-circle" style=""></i> Đang hoạt động</span>';
                    //        }
                    //        return '<span class="badge badge-danger"><i class="fas fa-check-circle" style=""></i> Ngưng hoạt động</span>';
                    //    }

                    //},
                    //{
                    //  "data": "createdBy", "name": "createdBy",
                    // "render": function (data, type, full, meta) {

                    //          return full.createdBy;
                    //    }
                    //},
                   
                    {
                        "data": null, "name": "",
                        "render": function (data, type, full, meta) {

                            let html = '<div class="btn-group dropleft">' +
                                '<button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>' +
                                '<div class="dropdown-menu">' +
                                '<a class="dropdown-item" href="javascript:void(0)" onclick="eventCreate.addOrEditSupplier(\'/Selling/Supplier/edit?secret=' + full.secret + '\')"><i class="fas fa-edit mr-2"></i> Sửa</a></a>' +
                                '<a class="dropdown-item" href="javascript:void(0)" onclick="eventCreate.viewSupplier(\'/Selling/Supplier/Detail?secret=' + full.secret + '\')"><i class="fas fa-zoom mr-2"></i> Xem chi tiết</a></a>' +

                                '<form id="form_delete_' + full.id + '" action="/Selling/Supplier/Delete?secret=' + full.secret + '"  asp-controller="Area" asp-area="Selling" method="post" asp-action="Delete" onsubmit="return jQueryModalDelete(this)" class="d-inline">' +
                                '<a  class="dropdown-item"  href="javascript:$(\'#form_delete_' + full.id + '\').submit();"><i class="fas fa-trash-alt mr-2"></i> Xóa</a>' +
                                '</form>' +
                                '</div>' +
                                '</div>';

                            return html;
                        }
                    },
                ]

            });
            $('#reload').on('click', function () {
                dataTableOut.ajax.reload(null, false);

            });
            $('input').keyup(function (e) {
                if (e.keyCode == 13) {
                    dataTableOut.ajax.reload(null, false);
                }
            });
        });


    </script>
}