@using Domain.Entities
@model TemplateInvoice
@Html.AntiForgeryToken()
@{
    if (Model.Id==0)
    {
        Model.TypeTemplatePrint = Application.Enums.EnumTypeTemplatePrint.IN_BILL;
    }
    if (Model.IsRegisterQrCodeVietQR && string.IsNullOrEmpty(Model.HtmlQrCodeVietQR))
    {
        Model.HtmlQrCodeVietQR = "<img src='{qrDataURL}' width='150px;margin-left:auto;margin-right:auto'/>";
    }
}
@Html.HiddenFor(m => m.Id)
<div class="card-bodysweetalert2">
    <div class="row">
        <div class="col-md-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeTemplatePrint" class="control-label">Loại mẫu in</label>
                <select asp-items="(IEnumerable<SelectListItem>)Model.Selectlist" asp-for="TypeTemplatePrint" style="width:100%" class="form-control" id="SelectListTypeTemplatePrint">
                    <option></option>
                </select>
                <span asp-validation-for="TypeTemplatePrint" class="text-danger"></span>
            </div>
            <div class="fromOnetable">
                <div class="form-group">
                    <label class="control-label">Tên mẫu <span class="required">(*)</span></label>
                    <input asp-for="Name" class="form-control" placeholder="Tên mẫu" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group" style="display: flex;align-items: center;">
                <label asp-for="Active" class="control-label" style="margin-bottom:0px">Kích hoạt mẫu sử dụng</label>
                <input asp-for="Active" style="width:25px;height:25px; margin-left:15px" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Ghi chú</label>
                <textarea asp-for="Note" rows="5" class="form-control" placeholder="Ghi chú"></textarea>
            </div>
            @if (Model.IsRegisterQrCodeVietQR)
            {
                <hr />
                <div class="form-group" >
                    <div style="display: flex;/* align-items: center; */flex-direction: column;">
                        <label asp-for="IsShowQrCodeVietQR" class="control-label" style="margin-bottom:0px">Tích hợp QRcode</label>
                        <small><i>Hiển thị mã Qrcode VietQR lên bill, sử dụng app mọi ngân hàng Mobile Banking, Momo, VNPT Mony.... dễ dàng quét mã QR thanh toán trên bill</i></small>
                    </div>
                    <input asp-for="IsShowQrCodeVietQR" style="width:25px;height:25px; margin-top:10px" />
                    <span asp-validation-for="IsShowQrCodeVietQR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <textarea asp-for="HtmlQrCodeVietQR" rows="5" class="form-control" placeholder=""></textarea>
                </div>

            }
          
        </div>
        <div class="col-lg-9 col-xl-6">
            <div class="form-group">
                <label asp-for="Template" class="control-label">Nội dung</label>
                <textarea asp-for="Template" class="form-control" rows="10" style="height:200px"></textarea>
                <span asp-validation-for="Template" class="text-danger"></span>
            </div>


        </div>
        <div class="col-lg-12 col-xl-3">
            <h5>Tham số để điều chỉnh mẫu</h5>
            <table class="table table-striped table-bordered table-supportTemplateInvoice table-printorderinvoice @(Model.TypeTemplatePrint==Application.Enums.EnumTypeTemplatePrint.IN_BA0_HUY_CHE_BIEN || Model.TypeTemplatePrint==Application.Enums.EnumTypeTemplatePrint.IN_BA0_CHE_BIEN?"d-none":"")">
                <thead>
                    <tr>
                        <th>Mô tả</th>
                        <th>Tham số</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" style="width:100%" class="font-weight-bold">Thông tin đơn vị bán</td>
                    </tr>
                    <tr>
                        <td>Tên đơn vị</td>
                        <td>{comname}</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ</td>
                        <td>{comaddress}</td>
                    </tr>
                    <tr>
                        <td>Số điện thoại</td>
                        <td>{comphone}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{comemail}</td>
                    </tr>
                    <tr>
                        <td>Tên tài khoản ngân hàng</td>
                        <td>{chu_tai_khoan}</td>
                    </tr>
                       <tr>
                        <td>Số tài khoản ngân hàng</td>
                        <td>{so_tai_khoan}</td>
                    </tr>
                    <tr>
                        <td>Tên ngân hàng</td>
                        <td>{ten_ngan_hang}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:100%" class="font-weight-bold">Thông tin hóa đơn</td>
                    </tr>
                    <tr>
                        <td>Số hóa đơn bán hàng</td>
                        <td>{invoiceNo}</td>
                    </tr>
                    <tr>
                        <td>Mẫu số, ký hiệu HDDT</td>
                        <td>{kyhieuhoadon}</td>
                    </tr> 
                    <tr>
                        <td>Số hóa đơn điện tử</td>
                        <td>{sohoadon}</td>
                    </tr>
                    <tr>
                        <td>Qrcode thanh toán</td>
                        <td>{infoqrcodethanhtoan}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:100%" class="font-weight-bold">Thông tin đơn vị mua</td>
                    </tr>
                    <tr>
                        <td>Tên khách hàng</td>
                        <td>{buyer}</td>
                    </tr>
                    <tr>
                        <td>Mã khách hàng</td>
                        <td>{cuscode}</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ</td>
                        <td>{cusAddress}</td>
                    </tr>
                    <tr>
                        <td>Số điện thoại</td>
                        <td>{cusPhone}</td>
                    </tr>
                    <tr>
                        <td>Nhân viên phục vụ/bán hàng</td>
                        <td>{staffName}</td>
                    </tr> 
                    <tr>
                        <td>Nhân viên thu ngân</td>
                        <td>{casherName}</td>
                    </tr>
                    <tr>
                        <td>Giờ vào/ Giờ mua hàng</td>
                        <td>{giovao}</td>
                    </tr>
                    <tr>
                        <td>Giờ ra/ Giờ thanh toán</td>
                        <td>{ngaythangnamxuat}</td>
                    </tr>
                    <tr>
                        <td>Tên bàn/phòng</td>
                        <td>{tenbanphong}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:100%" class="font-weight-bold">Thông tin hàng hóa</td>
                    </tr>
                    <tr>
                        <td>Tên hàng hóa</td>
                        <td>{tenhanghoa}</td>
                    </tr>
                    <tr>
                        <td>Từ giờ đến giờ (dành cho hàng hóa tính tiền theo giờ)</td>
                        <td>{thoigiangio}</td>
                    </tr> 
                  
                    <tr>
                        <td>Tổng số phút (dành cho hàng hóa tính tiền theo giờ)</td>
                        <td>{tonggio}</td>
                    </tr>
                    <tr>
                        <td>Đơn giá trước khi chiết khấu</td>
                        <td>{dongiachietkhau}</td>
                    </tr>
                    <tr>
                        <td>Đơn vị tính</td>
                        <td>{donvitinh}</td>
                    </tr>
                    <tr>
                        <td>Số lượng</td>
                        <td>{soluong}</td>
                    </tr>

                    <tr>
                        <td>Giảm giá</td>
                        <td>{giamgiasanpham}</td>
                    </tr>
                 
                    <tr>
                        <td>Thành tiền</td>
                        <td>{thanhtien}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:100%" class="font-weight-bold">Thông tin thanh toán</td>
                    </tr>
                    <tr>
                        <td>Tổng tiền hàng hóa</td>
                        <td>{tientruocthue}</td>
                    </tr>
                    <tr>
                        <td>Giảm giá</td>
                        <td>{giamgia}</td>
                    </tr>
                    <tr>
                        <td>Thuế suất</td>
                        <td>{thuesuat}</td>
                    </tr>
                    <tr>
                        <td>Tiền thuế</td>
                        <td>{tienthue}</td>
                    </tr>
                    <tr>
                        <td>Tổng tiền khách trả</td>
                        <td>{khachcantra}</td>
                    </tr>
                    <tr>
                        <td>Tiền khách đưa</td>
                        <td>{khachthanhtoan}</td>
                    </tr>
                    <tr>
                        <td>Tiền thừa trả khách</td>
                        <td>{tienthuatrakhach}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped table-bordered table-supportTemplateInvoice table-printbep @(Model.TypeTemplatePrint==Application.Enums.EnumTypeTemplatePrint.IN_BILL || Model.TypeTemplatePrint==Application.Enums.EnumTypeTemplatePrint.IN_TAM_TINH?"d-none":"")">
                <thead>
                    <tr>
                        <th>Mô tả</th>
                        <th>Tham số</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" style="width:100%" class="font-weight-bold">Thông tin đơn vị bán</td>
                    </tr>
                    <tr>
                        <td>Tên đơn vị</td>
                        <td>{comname}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:100%" class="font-weight-bold">Thông tin hàng hóa</td>
                    </tr>
                    <tr>
                        <td>Tên hàng hóa</td>
                        <td>{tenhanghoa}</td>
                    </tr>
                    <tr>
                        <td>Ghi chú hàng hóa<br/>
                            <small>Ví dụ: cafe ít đường</small></td>
                        <td>{ghichu}</td>
                    </tr>
                    <tr>
                        <td>Đơn vị tính</td>
                        <td>{donvitinh}</td>
                    </tr> 
                    <tr>
                        <td>Đơn giá hàng hóa</td>
                        <td>{dongia}</td>
                    </tr>
                    <tr>
                        <td>Số lượng hàng hóa</td>
                        <td>{soluong}</td>
                    </tr>
                    <tr>
                        <td>Tổng cộng số lượng món</td>
                        <td>{tongsoluong}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
