<form id="create-form" method="post" asp-controller="Unit" asp-action="OnPostCreateOrEdit" onsubmit="return jQueryModalPost(this);">
    <partial name="_ShareItem" />
</form>
<script type="text/javascript" language=javascript>$.validator.unobtrusive.parse(document);</script>
