html {
  font-size: 14px;
  font-family:Montserrat, sans-serif
}
::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
}
body {
    
}

header {
    box-shadow: 0 0 46px 0 rgb(5 35 61 / 7%);

    img.logo {
        width: 162px;
    }

    .loginFnb {
        padding: 15px 40px;
        background-color: #1c00c2;
        color: #fff;
        text-decoration: none;
        border-radius:3px;
    }
}
.sectiontow {
    padding: 80px 0px;
    padding-top: 0px;
    background-color: #f9fbff;
    background-image: url(../img/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;

    h3.title {
        font-weight: bold;
        text-align: center;
        margin-bottom: 90px;
        font-size: 32px;
        padding-top: 80px;
    }

    .col-item {
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 10px rgb(55 66 107 / 5%);
        border-radius: 13px;
        padding: 24px 18px 35px;
        align-items: center;
        height: 100%;
        background: #fff;

        strong {
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 20px;
        }

        i {
            color: #fff;
        }



        &.col1 {
            border: #36b37e solid thin;

            .avat {
                -webkit-mask-image: url(../img/tudonghoa.svg);
                mask-image: url(../img/tudonghoa.svg);
                -webkit-mask-size: 70%;
                mask-size: 70%;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                background-color: #36b37e;
            }

            strong {
                color: #36b37e;
            }

            i {
                background-color: #36b37e;
                border: #36b37e solid thin;
            }
        }

        &.col2 {
            border: #ff991f solid thin;

            .avat {
                -webkit-mask-image: url(../img/heodat.svg);
                mask-image: url(../img/time.svg);
                -webkit-mask-size: 70%;
                mask-size: 70%;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                background-color: #ff991f;
            }



            strong {
                color: #ff991f;
            }

            i {
                background-color: #ff991f;
                border: #ff991f solid thin;
            }
        }

        &.col3 {
            border: #6554c0 solid thin;

            .avat {
                -webkit-mask-image: url(../img/group_user.svg);
                mask-image: url(../img/time.svg);
                -webkit-mask-size: 70%;
                mask-size: 70%;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                background-color: #6554c0;
            }

            strong {
                color: #6554c0;
            }

            i {
                background-color: #6554c0;
                border: #6554c0 solid thin;
            }
        }

        &.col4 {
            border: #00b8d9 solid thin;

            .avat {
                -webkit-mask-image: url(../img/minhbach.svg);
                mask-image: url(../img/minhbach.svg);
                -webkit-mask-size: 70%;
                mask-size: 70%;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                background-color: #00b8d9;
            }

            strong {
                color: #00b8d9;
            }

            i {
                background-color: #00b8d9;
                border: #00b8d9 solid thin;
            }
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }

        .avat {
            font-size: 58px;
            padding: 10px;
            border-radius: 50%;
            width: 121px;
            height: 121px;
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: center;
            box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
            margin-bottom: 20px;
            -webkit-mask-position: center;

            img {
                width: 50px;
            }
        }
    }

    .listnghanhhang {
        padding-left: 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        li {
            list-style: none;
            /* display: inline-block; */
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20%;
            margin-bottom: 20px;
            padding: 20px;
            border: #fff0 solid thin;

            &:hover {
                background-color: #007aaf;
                border: #ccc solid thin;
                border-radius: 5px;
                cursor: pointer;
                box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;

                span {
                    color: #fff;
                }

                .header {
                    background-color: #fff;
                }
            }

            .header {
                background-color: #007aaf2b;
                margin-bottom: 20px;
                border-radius: 50%;
                box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
            }

            span {
                text-align: center;
            }

            .logo {
                width: 81px;
                padding: 10px;
                height: 81px;
                object-fit: cover;
                background-color: #007aaf;
                -webkit-mask-size: 60%;
                mask-size: 70%;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: center;
            }

            .ao {
                -webkit-mask-image: url(../img/ao.svg);
                mask-image: url(../img/ao.svg);
            }

            .food {
                -webkit-mask-image: url(../img/food.svg);
                mask-image: url(../img/food.svg);
            }

            .audio {
                -webkit-mask-image: url(../img/audio.svg);
                mask-image: url(../img/audio.svg);
            }

            .shopping_cart {
                -webkit-mask-image: url(../img/shopping_cart.svg);
                mask-image: url(../img/shopping_cart.svg);
            }

            .phone {
                -webkit-mask-image: url(../img/phone.svg);
                mask-image: url(../img/phone.svg);
            }

            .ghe {
                -webkit-mask-image: url(../img/ghe.svg);
                mask-image: url(../img/ghe.svg);
            }

            .banle {
                -webkit-mask-image: url(../img/banle.svg);
                mask-image: url(../img/banle.svg);
            }

            .sach {
                -webkit-mask-image: url(../img/sach.svg);
                mask-image: url(../img/sach.svg);
            }

            .spa {
                -webkit-mask-image: url(../img/spa.svg);
                mask-image: url(../img/spa.svg);
            }

            .diennuoc {
                -webkit-mask-image: url(../img/diennuoc.svg);
                mask-image: url(../img/diennuoc.svg);
            }

            .xaydung {
                -webkit-mask-image: url(../img/xaydung.svg);
                mask-image: url(../img/xaydung.svg);
            }

            .mebe {
                -webkit-mask-image: url(../img/mebe.svg);
                mask-image: url(../img/mebe.svg);
            }

            .nghanhkhac {
                -webkit-mask-image: url(../img/nghanhkhac.svg);
                mask-image: url(../img/nghanhkhac.svg);
            }
        }
    }
}
.copyright {
    padding: 15px;
    background-color: #0269b9;
    color: #fff;
    margin-top: 20px;
    border-top: 1px solid hsla(0,0%,100%,.12941176470588237);
}

.footer {
    padding: 50px 0px;
    padding-bottom: 0px;
    background-color: #0269b9;
    color: #fff;
    position: relative !important;
    white-space: normal !important;
}

.infocompany {
    img {
        width: 100px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 28px;
        color: #fff;
    }

    .info, a {
        font-size: 16px;
        /* font-size: 20px; */
        color: #fff !important;
        margin-top: 20px;
        line-height: 31px;
    }
}
.hotline-box {
    background-color: #f3f3f3;
    padding: 5.6rem 0;

    .font-small-1 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #002146;
    }

    .hotline-name {
        margin-bottom: 1rem;
        font-size: 22px;
        font-weight: bold;
        color: #0257a5;

        span:not(.hotline-icon), .hotline-box .hotline-name a {
            margin-left: 2px;
            font-weight: 600;
        }

        a {
            color: #0257a5;
        }

        i {
            font-size: 27px;
        }
    }

    .hotline-icon {
        line-height: 24px !important;
    }

    .hotline-title {
        margin-bottom: 16px;
        padding-bottom: 0;
        font-weight: bold;
        font-size: 3rem;
    }

    .hotline-item {
        background-color: #fff;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        background-clip: padding-box;
        height: 100%;
        padding: 24px 20px 4.2rem;
    }
}
.btn-regiter {
    margin-top: 30px;
    padding: 18px 40px;
    font-weight: bold;
    border-radius: 3px;
    font-size: 25px;
    color: #fff;
    background-color: #008223;
    width: max-content;
    margin: auto;
    &:hover{
        color:#fff;
    }
}

.sectionone {
    position: relative;
    background-color: #1c2626;
    align-items: center;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;


    .bac {
        background-image: url("../img/banner3.png");
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.2;
        background-size: cover;
        background-repeat: no-repeat;
    }

    h1 {
        margin-bottom: 3.2rem;
        font-size: 5.5rem;
        color: #fff;
        line-height: 113px;
    }

    .sub {
        font-size: 25px;
        color: #fff;
    }

    .content {
        position: inherit;
    }
}
@media (min-width: 768px) {
    .navbar-collapse{

    }
    html {
        font-size: 16px;
    }

}@media (max-width: 767.8px) {

    .sectionone {
        height: auto;

        .content {
            margin: 60px 0px;
        }

        .btn-regiter {
            margin-top: 30px;
        }

        h1 {
            margin-bottom: 1.5rem;
            font-size: 3rem;
            line-height: 54px;
        }
    }
    .sectiontow {
        h3.title {
            font-weight: bold;
            text-align: center;
            margin-bottom: 45px;
            font-size: 27px;
            padding-top: 42px;
        }

        .listnghanhhang li {
            width: 30%;
            margin-bottom: 10px;
        }

        .col-item {
            padding: 0px 13px 4px;

            .avat {
                padding: 10px;
               
                width: 106px;
                height: 105px;
                margin-bottom: 0;
            }
        }

        .col-md-3 {
            margin-bottom: 20px;
        }
    }
    header {
        a.loginFnb {
          
            display: block;
            width: max-content;
        }
    }
    .hotline-box {
        .hotline-title {
            margin-bottom: 16px;
            padding-bottom: 0;
            font-weight: bold;
            font-size: 2.5rem;
        }

        .hotline-list {
            > div {
                margin-bottom: 20px;
            }
        }
    }
    
}
@media (min-width: 576px){
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-weight: 500;
        font-size: 20px;
    }
    .navbar {
      
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
@media (max-width: 575.8px){
    .sectiontow .listnghanhhang li {
       
        width: 50%;
        margin-bottom:10px;
    }
}
html {
  position: relative;
  min-height: 100%;
}

